:root {
    --main-color: #55a845; 
    --title-color: whitesmoke;
    --label-color: #2e7d32;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0; 
    padding: 0;
}

/* Dashboard */

.header {
    display: flex; 
    justify-content: center;
    background-color: var(--main-color);
    color: var(--title-color);
}

.content {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}

.content__box {
    display: grid;
    grid-template-rows: auto 1fr;
}

.content__header {
    display: flex; 
    justify-content: center;
    align-items: center;

    background-color: var(--main-color);
    border-radius: 1rem 1rem 0 0;
}

.content__title {
    color: var(--title-color);
    margin: 0.5rem;
}

.content__controls {
    padding: 1rem;
    background-color: whitesmoke;
    border-radius: 0 0 1rem 1rem;
    width: auto;
}

.content__row {
    display: flex; 
    align-items: normal;
    gap: 6px;
    margin-bottom: 0.5rem;
    
}

.content__label {
    font-size: 16px;
    font-weight: 600;
}

.content__label--primary {
    color: var(--label-color);
}

.content__image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    opacity: 25%;
    border-radius: 0.5rem;
    width: 100%;
    height: 300px;
    margin-bottom: 1rem;
}

.content__button {
    width: 100%;
    padding: 0.5rem;
    border: 0;
    border-radius: 6px;
    background-color: lightgray;
    color: var(--label-color);
    font-weight: bold;
    cursor: pointer;
}

.content__button:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.option {
    border: none;
    height: 20px;
    width: 100px; 
    margin-left: auto;
    border-radius: .25rem;
}

hr {
    opacity: 50%;
}

.setting {
    width: 100%;
    padding: 0.5rem;
}

.setting__row {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 1rem;
}

.setting__input {
    border: 0;
    width: 190px;
    height: 20px;
    border-radius: .25rem;
}

.setting__input--short {
    width: 20px;
}

.setting__row span {
    color: var(--label-color);
    font-weight: bold;
    width: 70px;
}

.setting_row--split {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

@media (max-width: 768px) {
    .content, .setting_row--split {
        grid-template-columns: 1fr;
    }

}

/* Login */

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card__header {
    text-align: center;
    background-color: var(--main-color);
    color: var(--title-color); 
    border-radius: 1rem 1rem 0 0;
    padding: .5rem;
}

.card__title {
    margin: 0;
}

.form {
    display: flex; 
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 0 0 6px 6px;
    padding: 1rem;
}

.form__field {
    display: flex; 
    flex-direction: column;
    margin-bottom: 1rem; 
}

.form__field input {
    border: none;
    border-radius: .25rem;
    width: auto; 
    height: 25px;
    padding: .5rem;
    margin-top: .25rem;
}

.form__button {
    width: 100%;
    padding: 0.5rem;
    border: 0;
    border-radius: 6px;
    background-color: lightgray;
    color: var(--label-color);
    font-weight: bold;
    cursor: pointer;
}

/* Toast */

.toast {
    position: fixed; 
    bottom: 20px; 
    right: 20px;
}

.toast--display {
    background-color: var(--main-color); 
    color: whitesmoke;
    width: 200px; 
    height: 100px;
    opacity: 0.9;
    padding: 1rem;
    border-radius: .25rem;
    transition: opacity 0.5s ease;
}