{% extends "base.html" %}

{% block head %}
    <title>Login</title> 
{% endblock %}

{% block body %}
    <div class="background">
        <div class="card">
            <div class="card__header">
                <h1 class="card__title">Login</h1>
            </div>
            <div class="card__content">
                <form method="post" class="form">
                    <div class="form__field">
                        <label for="username" class="form__label">Username</label>
                        <input autocomplete="off" autofocus name="username" type="text" class="form__input" placeholder="e.g: administrator">
                    </div>
                    <div class="form__field">
                        <label for="password" class="form__label">Password</label>
                        <input name="password" type="password" class="form__input" placeholder="*******">
                    </div>
                    <div class="form__submit">
                        <button class="form__button">Sign in</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}